slack-bolt==1.27.0
aiohttp==3.13.5
langgraph==1.1.4
langgraph-checkpoint-postgres==3.0.5
langchain-google-genai==4.2.1
pydantic==2.12.5
pydantic-settings==2.13.1
langsmith==0.7.24
loguru==0.7.3
SQLAlchemy==2.0.48
asyncpg==0.31.0
psycopg[binary]==3.3.3
google-api-core>=2.30.1
